
  <nav class="navbar navbar-default">
      <a class="navbar-brand" routerLink="user">KMart</a>      
    <ul class="nav navbar-nav">     
        <li class=navbar-item>
          <a class="nav-link" routerLinkActive="active" routerLink="user">Register</a>
        </li>
        <li>
          <a routerLinkActive="active" routerLink="userlist">User List </a>
        </li>
    </ul>
   
  </nav>
  <div class="container">

  <router-outlet></router-outlet>
</div>

<!-- <div>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" routerLink="user">KMart</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02"
      aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item active">
          <a routerLinkActive="active" routerLink="user">Register</a>
        </li>
        <li class="nav-item">
          <a routerLinkActive="active" routerLink="userlist">User List </a>
        </li>
       
      </ul>
      <form class="form-inline my-2 my-lg-0" [formGroup]="searchForm" (ngSubmit)="searchClicked()">
        <input class="form-control mr-sm-2" formControlName="search" type="search" placeholder="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </nav>
  <router-outlet></router-outlet>
</div> -->