<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
  <a class="navbar-brand" routerLink="user">KMart</a>
  <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarMenu">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarMenu">
    <ul class="navbar-nav">
      <li class=nav-item>
        <a class="nav-link" routerLinkActive="active" routerLink="user">Register</a>
      </li>
      <li>
        <a class="nav-link" routerLinkActive="active" routerLink="userlist">User List </a>
      </li>
    </ul>
  </div>

</nav>
<div class="container">
  <router-outlet></router-outlet>
</div>